<!DOCTYPE html>
<html lang="en">
	<head>
		{{>head}}

		<title>Hawkeye</title>
	</head>

	<body>
		<center><h1>Hawkeye</h1></center>

		<div class="container">
			{{{body}}}
		</div>


	</body>
</html>