<script src="js/bootstrap3-typeahead.min.js"></script>
<script src="js/Home.js"></script>

<style type="text/css">
.tt-menu 
{
	background-color: #FFFFFF;
	text-align: center;
	margin-left: 0px;
	color: #999999;
	width: 204px;
	outline: medium none;
}
.tt-hint {
	color: #999999;
}
</style>

<center>
	<div class="form-group">
			<input type="text" class="form-control typeahead" autocomplete="off" placeholder="Input State Here" aria-describedby="basic-addon1">
			
	      	<button class="btn btn-primary" type="button" style="margin-top: -32px;">Search</button>
	</div>
</center>
