<script src="js/bootstrap3-typeahead.min.js"></script>
<script src="js/Home.js"></script>

<style type="text/css">
.tt-menu 
{
	background-color: #FFFFFF;
	text-align: center;
	margin-left: 0px;
	color: #999999;
	width: 204px;
	outline: medium none;
}
.tt-hint {
	color: #999999;
}
</style>

<center>
	<div class="form-group">
			<input type="text" class="form-control typeahead" autocomplete="off" placeholder="Enter State Here" aria-describedby="basic-addon1">
			
	      	<button class="btn btn-primary" type="button" style="margin-top: -32px;" id="searchState">Search</button>
	</div>


	<div id="govInfo">
	<hr>
	<div class="row">
      <div class="col-lg-12">
        <h2>data</h2>
      </div>
    </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="bs-component">
              <div class="panel panel-default">
                <div class="panel-body" id="localInfo">
                  data
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">data</div>
                <div class="panel-body">
                  data
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  data
                </div>
                <div class="panel-footer">data</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bs-component">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">data</h3>
                </div>
                <div class="panel-body">
                  data
                </div>
              </div>

              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">data</h3>
                </div>
                <div class="panel-body">
                  data
                </div>
              </div>

              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">data</h3>
                </div>
                <div class="panel-body">
                  data
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bs-component">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">data</h3>
                </div>
                <div class="panel-body">
                  data
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">data</h3>
                </div>
                <div class="panel-body">
                  data
                </div>
              </div>
            </div>
          </div>
		</div>
	</div>
</center>


