<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hawkeye</title>
  <meta name="description" content="Local Government Information Aggregate">
  <meta name="author" content="Sunil Rao">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

  <!-- Header -->
  <div class="container">
    <div class="headerTitle">Hawkeye</div>
    <div class="headerTitleCaption">Stay vigilant.</div>
    <hr>
  </div>

  <!-- Input -->
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <label class="labelInput">State</label>

        <select class="u-pull-right">
          <option value="Illinois">Illinois</option>
          <option value="Oregon">Oregon</option>
          <option value="Buttville">Buttville</option>
        </select>
      </div>
      
      <div class="one-half column">
          <input class="button-primary" value="search" type="submit">
      </div>
    </div>
  </div>

</body>
</html>
