// Variables
$background : black;
$text-color: white;

body { background-color: $background; }
label { color: $text-color; }
select { background-color: $background; color: $text-color; }
hr { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}




// Header
.headerTitle 
{  
	margin-top: 5%; 
	font-size: 3.0rem; 
	line-height: 1.35; 
	letter-spacing: -.08rem; 
	text-align: center; 
	color: $text-color; 
	font-weight: bold;
} 
.headerTitleCaption 
{ 
	margin-top: 0; 
	text-align: center; 
	color: $text-color;
	margin-bottom: 10px;
}

// Primary
.button-primary 
{ 
	margin-top: 29px;
}
.labelInput 
{ 
	text-align: left; 
}

.branch 
{ 
	background-color: #1a1a1a;
	color: $text-color;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	line-height: 200%;
	opacity: 0;
	transition: opacity 1s;
}

.scopeBranch
{
	@extend .branch;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #404040;
	transition: opacity 2s;
}

.groupBranch
{
	@extend .branch;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #666666;
	transition: opacity 3s;
}

// Card outer layout
.card 
{
	background-color: #666666;
	color: $text-color;
	border-spacing: 5px;
	margin-top: 10px;
	height: 450px;
	width: 80%;
	display: block;
	text-shadow: 1px 1px 2px black;
	box-shadow: 4px 4px 5px black;
	transition: opacity 1s;

}
// Increase card size for smaller screens
@media only screen and (max-width: 550px) {
	.card {
		background-color: #666666;
		color: $text-color;
		border-spacing: 5px;
		margin-top: 10px;
		height: 550px;
		width: 80%;
		display: block;
		text-shadow: 1px 1px 2px black;
		box-shadow: 4px 4px 5px black;
		transition: opacity 1s;

	}
}





.card-D
{
	@extend .card;
	background-color: #5577aa;
}

.card-R
{
	@extend .card;
	background-color: #b54a4a;
}

.card-I
{
	@extend .card;
	background-color: #a6a6a6;
}

// Card inner elements
.card-element
{
	center: true;
	text-align: center;
	font-weight: normal;
}

.card-name
{
	@extend .card-element;
	padding-top: 5px;
	overflow: hidden;
    white-space: nowrap;
}
.card-state
{
	@extend .card-element;
	line-height: 1%;
}
.card-image
{
	@extend .card-element;
	line-height: 50%;
}
.card-label
{
	text-align: left;
	font-weight: bold;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 100%;
}
.card-description
{
	text-align: left;
	font-weight: normal;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	word-wrap: break-word;
	line-height: 100%;
	width: 250px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
}