// Variables
$background : black;
$text-color: white;

// Header
.headerTitle 
{  
	margin-top: 5%; 
	font-size: 3.0rem; 
	line-height: 1.35; 
	letter-spacing: -.08rem; 
	text-align: center; 
	color: $text-color; 
	font-weight: bold;
} 
.headerTitleCaption 
{ 
	margin-top: 0; 
	text-align: center; 
	color: $text-color;
	margin-bottom: 10px;
}

// Primary
.button-primary 
{ 
	margin-top: 29px;
}
.labelInput 
{ 
	text-align: left; 
}



body { background-color: $background; }
label { color: $text-color; }
select { background-color: $background; color: $text-color; }
hr { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}

.branch 
{ 
	background-color: #1a1a1a;
	color: $text-color;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	line-height: 200%;
}

.scopeBranch
{
	@extend .branch;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #404040;
}

.groupBranch
{
	@extend .branch;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #666666;
}

// Card outer layout
.card
{
	background-color: #666666;
	color: $text-color;
	border-spacing: 5px;
	margin-top: 10px;
	height: 500px;
	width: 80%;
	display: block;
	text-shadow: 1px 1px 2px black;
	box-shadow: 4px 4px 5px black;
}

.card-D
{
	@extend .card;
	background-color: #5577aa;
}

.card-R
{
	@extend .card;
	background-color: #b54a4a;
}

.card-I
{
	@extend .card;
	background-color: #a6a6a6;
}

// Card inner elements
.card-element
{
	center: true;
	text-align: center;
	font-weight: normal;
}

.card-name
{
	@extend .card-element;
	padding-top: 5px;
}
.card-state
{
	@extend .card-element;
	line-height: 1%;
}
.card-image
{
	@extend .card-element;
	line-height: 50%;
}
.card-label
{
	text-align: left;
	font-weight: bold;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 100%;
}
.card-description
{
	text-align: left;
	font-weight: normal;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	word-wrap: break-word;
	line-height: 100%;
}